<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="science.apolline.spirals.oscar">


    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="com.example.androidmapsv2.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoandroidpng"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoandroidpng"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">



        android:icon="@drawable/logoandroidpng"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:label="@string/app_name">
        <uses-library android:name="com.android.future.usb.accessory"
            android:required="false" />
        <uses-library
            android:name="com.google.android.maps"
            android:required="false" />

        <service android:name="science.apolline.spirals.oscar.science.apolline.IOIOService" />
        <activity
            android:label="@string/app_name"
            android:name="science.apolline.spirals.oscar.science.apolline.MainActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>
            <meta-data android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                android:resource="@xml/accessory_filter" />

        </activity>

        <activity
            android:windowSoftInputMode="stateHidden"
            android:label="options"
            android:name="science.apolline.spirals.oscar.science.apolline.options"
            android:theme="@style/Theme.AppCompat"
            android:parentActivityName="science.apolline.spirals.oscar.science.apolline.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="science.apolline.spirals.oscar.science.apolline.MainActivity" />
        </activity>

        <activity
            android:label="informations"
            android:name="science.apolline.spirals.oscar.science.apolline.informations"
            android:theme="@style/Theme.AppCompat"
            android:parentActivityName="science.apolline.spirals.oscar.science.apolline.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="science.apolline.spirals.oscar.science.apolline.MainActivity" />

        </activity>

        <activity
            android:label="contact"
            android:name="science.apolline.spirals.oscar.science.apolline.contact"
            android:theme="@style/Theme.AppCompat"
            android:parentActivityName="science.apolline.spirals.oscar.science.apolline.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="science.apolline.spirals.oscar.science.apolline.MainActivity" />

        </activity>




        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/mapKey" /><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
